/*
Selector tipo
1
*/
h1{
    color: aquamarine;
}
/*
Selector de clase
10
*/
.nombre{
    color:brown;
}
/*
Selector id
100
*/
#articleid{
    /*background:linear-gradient(#e66465, red);*/
    background: linear-gradient(.25turn, #3f87a6,
    #ebf8e1,#f69d3c);
}
.barritalateral{
    background-color: cornflowerblue;
    border: 1px dotted red;
    margin-bottom: 10px;
    margin-top: 7px;
    /*
    margin: arriba abajo derecha izquierda
    margin: solo //para todos
    margin: algo algo //arribayabajo derechaizquierda
    */

}
.barritalateral h2{
    color: bisque;
    font-family: "Noto Sans JP", serif;
    font-size: 20px;
    font-weight: lighter;
    text-align: center;
}
@media(max-width:900px){
    #articleid{
        /*background:linear-gradient(#e66465, red);*/
        background:rgb(17, 17, 163);
        color: rgb(232, 205, 200);
    }
}
@media(max-width:600px){
    #articleid{
        /*background:linear-gradient(#e66465, red);*/
        background:blue;
        color: tomato;
    }
}
